h3{
    font-family: Calibri; 
    font-size: 25pt;         
    font-style: normal; 
    font-weight: bold; 
    color:SlateBlue;
    text-align: center; 
    text-decoration: underline
  }
  
#t1{
    border-collapse: collapse;
}
 
  #t1 td,#t1 th{
      border:1px solid black;
      
  } 